/* bg-img */

.bg-img{
    width: 100%;
    height: 1000px;
    background: url(./images/parallax.webp);
    /* background: none; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 20px 0px 0px;
    /* margin-top: 50px; */
    /* position: fixed; */
}

/* bikesspecial */
.bikes-special{
    width: 80%;
    height: 600px;
    background-color: #fff;
    
    margin: auto;
    margin-top: 20px;
}

#launch-bikes{
    width: 80%;
    height: 70px;
    background-color: #0b3a72;
    border-top: 10px solid orange;
    margin-left: 10%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #eef1f4;
    text-align: center;
    /* padding-top: 6px; */
    padding-bottom: 15px;
    font-size: 25px;

}
a{
    text-decoration: none;
}

.bikes-models{
    display: flex;
    justify-content: space-evenly;
    height: 90px;
    color: #0B3A72;
    font-size: 20px;
    /* background-color: yellow; */
    margin-bottom: 50px;
}
.current-bikes,.upcoming-bikes{
    padding-top: 0px;
    /* background-color: red; */
    height: 100px;
}
.upcoming-bikes a,.current-bikes a{
    color: #0B3A72;
    /* margin-bottom: 10px; */
}
.current-bikes:hover,.upcoming-bikes:hover{
    border-bottom: 7px solid #337ab7;
}
.bike-1 img,.bike-2 img,.bike-3 img,.bike-4 img{
    width: 230px;
    height: 150px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 7px;
}
.bike-3 h3,.bike-4 h3,.bike-1 h3,.bike-2 h3{
    padding-left: 20px;
    padding-top: 30px;
    color: #696969;
}
.bike-1 h2,.bike-2 h2{
    font-size: 18px;
    padding: 5px 20px;
    color: #4A4A4A;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.bike-3 h2,.bike-4 h2{
    font-size: 18px;
    color: #4A4A4A;
    padding-left: 20px;
    padding-top: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bikes-flex{
    display: flex;
    margin-top: 25px;
}


.bike-1,.bike-2,.bike-3,.bike-4{
    width: 250px;
    height: 350px;
    background-color: #eef1f4;
    margin-left: 30px;
    box-shadow: 0px 5px 5px gray;

}
.bike-1:hover,.bike-2:hover,.bike-3:hover,.bike-4:hover{
    transform: scale(1.05,1.05);
}

.latest a{
    color: #337ab7;
}
.latest{
    /* background-color: white; */
    text-align: center;
    margin-top: 80px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width:575px){
    .bikes-flex{
    flex-wrap: wrap;
    /* gap: 5px; */
}
.bike-1,.bike-2,.bike-3,.bike-4{
    width: 160px;
    height: 300px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.bike-1 img,.bike-2 img,.bike-3 img,.bike-4 img{
    width: 140px;
}
.bikes-special{
    height: 850px; 
}
.latest{
    margin-top: 30px;
}
.bike-1 h3{
    margin-top: -20px;

}
.bike-1 h2,.bike-2 h2,.bike-3 h2,.bike-4 h2{
    font-size: 16px;
}

}

/* media quary 576 to 767 */
@media screen and (min-width: 576px) and (max-width: 767px){
    .bikes-flex {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    height: 800px;
    background-color:#eef1f4;
  }
  .bg-img{
    height: 1100px;
  }

  .bike-1,
  .bike-2,
  .bike-3,
  .bike-4 {
    width: 35%;
    height: 320px;
  }

  .bike-1 img,
  .bike-2 img,
  .bike-3 img,
  .bike-4 img {
    width: 180px;
    height: 120px;
  }
  .latest{
    /* background-color: red; */
    position: relative;
    bottom: 140px;
    font: 25px;
  }

}
/* media quary 768 to 991 */
@media screen and (min-width:768px)and (max-width:991px){
   
    .bike-1,
  .bike-2,
  .bike-3,
  .bike-4 {
    width: 20%;
    height: 280px;
  }

  .bike-1 img,
  .bike-2 img,
  .bike-3 img,
  .bike-4 img {
    width: 140px;
    height: 120px;
  }
    
}


/* media quary 992 to 1199 */
@media screen and (min-width:992px)and (max-width:1199px){
    .bike-1,
  .bike-2,
  .bike-3,
  .bike-4 {
    width: 21%;
  }


  .bike-1 img,
  .bike-2 img,
  .bike-3 img,
  .bike-4 img {
    width: 145px;
    
  }
  .bike-1 h2,.bike-2 h2,.bike-3 h2,.bike-4 h2{
    font-size: 16px;
}
.latest{
    
    position: relative;
    bottom: 20px;
    font: 25px;
  }

}
