*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top{
    padding-left: 37%;
    padding-bottom: 20px;
    padding-top: 5px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#337ab7;
    /* background-color: yellow; */
}
a{
    text-decoration: none;
    color: #337ab7;
}


.container{
    width: 100%;
    margin: auto;
    padding-top: 10px;
    height: auto;
    background:url(./images/parallax.webp);
         /* background-image:linear-gradient(rgb(241, 237, 237,0.5)),linear-gradient(rgb(241, 237, 237,0.5)),url(images/parallax.webp); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    /* margin-top: 40px; */
}
.new-bike1,.new-bike2,.new-bike3{
    display: flex;
    justify-content:center;
    margin-bottom: 40px;
    border-radius: 6px;
    /* gap: 20px; */
    border-radius: 20px;
    
}
.left-content1,.left-content2,.left-content3{
    background-color:#fff;
    color: black;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    width: 50%;
}


.right-img1,.right-img2,.right-img3{
    /* background: yellow; */
    height: 190px;
    width: 30%;
    background-color:#fff;
    padding-left: 80px;
    
   
}
.head1{
    background-color:#337ab7;
    height: 50px;
    padding-top: 10px;
    border-top-left-radius: 6px;
    /* border-top-right-radius: 6px; */
    padding-left: 20px;
}

p{
    padding: 20px;
    text-align: justify;
    background:url(./images/logo-2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: transparent;
    background-clip: text;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.bike-img1 img{
    width: 310px;
    height: 190px;
    margin-top: 5px;
    /* margin-right: 200px; */
    border-radius: 5px;
    animation-name: launch-bike1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* opacity: -1; */
}
.bike-img2 img{
    width: 310px;
    height: 190px;
    margin-top: 5px;
    border-radius: 5px;
    animation-name: launch-bike2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
     animation-timing-function: linear;
}
.bike-img3 img{
    width: 310px;
    height: 190px;
    margin-top: 5px;
    border-radius: 5px;
    animation-name: launch-bike3;
    animation-duration: 4s;
    animation-iteration-count: infinite;
     animation-timing-function: linear;
}


@keyframes launch-bike1{
    /* from{
        transform: translateX(500px);
    }
    to{
        transform: translateX(0px);
    } */
     /* 0%{
        transform: rotateY(0deg);
     } */
     100%{
        transform: rotatey(-360deg);
     }

}

@keyframes launch-bike2{
    /* from{
        transform: translateX(800px);
    }
    to{
        transform: translateX(0px);
    } */
     100%{
        transform: rotateY(-360deg);
     }

}

@keyframes launch-bike3{
    /* from{
        transform: translateX(1100px);
    }
    to{
        transform: translateX(0px);
    } */
     100%{
        transform: rotateY(-360deg);
     }

}
/* @media query 575 */

@media screen and (max-width:575px) {
    .top{
    padding-left: 20%;
    padding-bottom: 20px;
    padding-top: 5px;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#337ab7;
    /* background-color: yellow; */
}
    .new-bike1,.new-bike2,.new-bike3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left-content1,.left-content2,.left-content3{
        width: 70%;
    }
    .right-img1,.right-img2,.right-img3{
        width: 70%;
    }
    .bike-img1 img,.bike-img2 img,.bike-img3 img{
    width: 210px;
    height: 150px;

}

}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .top{
    padding-left: 25%;
    padding-bottom: 20px;
    padding-top: 5px;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* color:#337ab7; */
    color: red;
    /* background-color: yellow; */

}
    .new-bike1,.new-bike2,.new-bike3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left-content1,.left-content2,.left-content3{
        width: 70%;
    }
    .right-img1,.right-img2,.right-img3{
        width: 70%;
    }
    .bike-img1 img,.bike-img2 img,.bike-img3 img{
    width: 300px;
    height: 170px;

}

}

@media screen and (min-width:768px) and (max-width:991px){
    .top{
    padding-left: 25%;
    padding-bottom: 20px;
    padding-top: 5px;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* color:#337ab7; */
    color: red;
    /* background-color: yellow; */

}
    .new-bike1,.new-bike2,.new-bike3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left-content1,.left-content2,.left-content3{
        width: 70%;
    }
    .right-img1,.right-img2,.right-img3{
        width: 70%;
        padding-left: 170px;
    }
    .bike-img1 img,.bike-img2 img,.bike-img3 img{
    width: 300px;
    height: 170px;

}


}

@media screen and (min-width:992px) and (max-width:1199px){
   
.right-img1,.right-img2,.right-img3{
        /* width: 70%; */
        padding-left: 30px;
    }
    
 .left-content1,.left-content2,.left-content3{
        width: 40%;
    }
    .right-img1,.right-img2,.right-img3{
        width: 30%;
    }
    .left-content3 p{
        font-size: 15px;

    }
    
}



    





