*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    margin: auto;
    /* margin-top: 50px; */
    height: 100vh;
    background:url(./images/parallax.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
   
}
.top{
    padding-left: 37%;
    padding-bottom: 20px;
    padding-top: 5px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#337ab7;
    /* background-color: yellow; */
}
.head-1,.head-2,.head-3{
    background-color:#555c66;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 250px;
    height: 70px;
    text-align: center;
    padding-top: 5%;
    margin-top: 85px;
}
.headlight-1 img{
    width:250px;
    height: 150px;
}
.headlight-1{
    /* background-color: red; */
    margin-right: 40%;
}
h2{
    background-color: red;
    border-radius: 2px;
    padding-top: 10px;
    font-size: 21px;
    width: 50%;
    height: 40px;
    margin-left: 30%;
    /* padding-bottom: 10px; */
}
h2:hover{
    background-color: #fff;
    color: black;
    cursor: pointer;
}


.new-bike1,.new-bike2,.new-bike3{
    width: 100%;
    height: 200px;
    color:white;
    /* background-color: red; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 100px;
    padding-right:550px;
    margin-bottom: 20px;
    /* margin: auto; */
}

.right-img1{
    /* background: yellow; */
    height: 190px;
    width: 310px;
    /* margin-right: 200px; */
    
   
}
a{
    text-decoration: none;
    color: #337ab7;
}
.bike-img1 img{
    width: 310px;
    height: 190px;
    margin-top: 15px;
    /* margin-right: 200px; */
    border-radius: 5px;
    animation-name: launch-bike1;
    animation-duration: 3s;
    animation-iteration-count: 1;
    /* opacity: -1; */
}
.bike-img2 img{
    width: 310px;
    height: 190px;
    margin-top: 15px;
    border-radius: 5px;
    animation-name: launch-bike2;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
.bike-img3 img{
    width: 310px;
    height: 190px;
    margin-top: 15px;
    border-radius: 5px;
    animation-name: launch-bike3;
    animation-duration: 6s;
    animation-iteration-count: 1;
}

@keyframes launch-bike1{
    from{
        transform: translateX(500px);
    }
    to{
        transform: translateX(0px);
    }

}

@keyframes launch-bike2{
    from{
        transform: translateX(800px);
    }
    to{
        transform: translateX(0px);
    }

}

@keyframes launch-bike3{
    from{
        transform: translateX(1100px);
    }
    to{
        transform: translateX(0px);
    }

}



