*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.first p{
    font-size: 12px;
    margin-left: 170px;
}

.login-page{
    width: 100%;
    background-color: #eef1f4 ;
}
.login-page h3{
    font-size: 25px;
    margin-left: 250px;
    margin-bottom: 20px;
    /* margin-top: 20px; */
    padding-top: 20px;
    color: #4A4A4A;
}

.datas{
    /* background-color: #eef1f4 ; */
    display: flex;
    gap: 30px;
    justify-content: center;
}
.dataleft{
    width: 700px;
    height: 1000px;
    background-color:#fff;
    padding: 30px;
}

.dataright img{
    width: 300px;
    height: 300px;

}
input[type="text"],input[type="password"],input[type="email"]{
    width: 250px;
    height: 30px;
    border: 2px solid lightgray;
    border-radius: 5px;
    margin-bottom: 25px;
}
label{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #4A4A4A;

}
img + label{
    font-family:monospace;
    position: relative;
    bottom: 20px;
    
}
input[type="radio"] + label{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;

}
input[type="number"]{
    width: 220px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid lightgray;
    padding:8px;
    margin-bottom: 20px;
}
p + label{
    font-size: 16px;
    font-weight: bold;
    color: gray;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* padding-bottom: 20px; */
}
#areas3{
    width: 180px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 15px;
}
#empt{
    width: 65px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: #fff;
    position: relative;
    bottom: 10px;
}

#log{
    width: 60px;
    height: 40px;
    border-radius: 3px;
    border: none;
    color: #eef1f4;
    background-color: #65ABF5;
    box-shadow: 0px 5px;
    font-weight: bold;
    margin-bottom: 30px;
}
#for{
    color: #337ab7;
    text-decoration: none;
    padding-bottom: 20px
}
#not{
    border-bottom: 2px solid orange;
    font-size: 20px;
    padding-bottom: 5px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
    margin-bottom: 25px;
}

#for:hover{
    color: #4A4A4A;
}

input[type="radio"]:checked{
    color:#65ABF5;
}

button + p{
    font-size: 15px;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
#signup{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: orange;
    color: #fff;
    margin-top: 10px;
}
#signup:hover{
    cursor: pointer;
}

.two-wheeler{
    height: 350px;
    width: 300px;
    border-radius: 5px;
    background-color: #fff;
}

#get{
    margin-top: 10px;
}

/* clone1 css */

.first{
    /* background-color: red; */
    margin-top: 10px;
}
#img1{
    width: 200px;
    height: 40px;
    margin-left: 90px;
    /* border: 5px solid red; */
}
img + p{
    font-size: 11px;
    text-align: right;
}

.text1{
    width: 450px;
    height: 70px;
    /* background-color: red; */
    border-radius: 5px;
    position: relative;
    /* right: 150px; */
    right: 110px;
}

nav1{
    display: flex;
    background-color:#0B3A72;
    align-items: center;
    justify-content: space-around;
    color: white;
    width: 100%;
    height: 80px;
}

#text-3{
    width: 450px;
    height: 50px;
    border-radius: 5px;
    font-size: 15px;
    padding-left: 8px;
    position: absolute;
    left: 0;
    top: 5px;

}
#but1{
    width: 80px;
    height: 47px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    background-color:#65ABF5;
    color: white;
    position: absolute;
    right: 0;
    top: 7px;
   
}

#areas{
    width: 130px;
    height: 40px;
    font-weight: 200;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    padding: 8px;
    position: relative;
    right:50px;
    overflow-y: hidden;
    /* margin-right: 80px; */

}
 li a{
    color: #4A4A4A;
    text-decoration: none;
}

.login{
    width: 100px;
    height: 50px;
    position: relative;
    right: 150px;
    top: 15px;
    /* background-color: red; */
}

#sign{
    height: 30px;
    background-color: #0B3A72;
    border: none;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}
#user{
    /* color:#0B3A72; */
    background-color:#0B3A72;
    
}

nav2{
    width: 100%;
    height: 50px;
    background-color: #fff;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    color: #4A4A4A;
    padding: 0px 160px;
    padding-right: 350px;
}
/* nav2 li{
    display: flex;
    align-items: center;
} */
nav2 li:hover{
    height: 100%;
    
}

 li a:hover{
    background-color: #65ABF5;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    

}

#logs{
    color: #fff;
    text-decoration: none;
}


/* page-1 footer */

footer{
    width: 100%;
    height: 350px;
    background-color:#424a55;
    margin-top: 50px;
}
footer img{
    margin:20px 40%;
    border: none;
    
}

.download{
    display: flex;
    justify-content: space-evenly;
    
}
.download h4{
    color: white;
    font-size: 20px;
}
.foot1{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.footer2{
    width: 100%;
    height: 200px;
    background-color: #555c66;
    text-align: center;
    color: #eef1f4;
}
#carz,#bikez{
    width: 230px;
    height: 40px;
    margin:20px 15px;
}
.fonts img{
    width: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.foot1 a{
    text-decoration: none;
    color: #eef1f4;
}

/* page1 media query */







